/* Tailwind CLI */

.flex {
  display: flex
}

.w-64 {
  width: 16rem
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

/* 示例 */

.grayscale-1 {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-grayscale)
}

.grayscale-2 {
  --tw-xxx:  ;
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-xxx) var(--tw-grayscale)
}
